@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  &:focus-visible {
      outline: 1px dotted var(--color-shade-blue-4);
      outline-offset: 3px;
  }
}

body {
  font-family: "Questrial", "Poppins", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;

}
